@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');


body{
  width: 100%;
  background-color: #d8d0c1;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}